
<div class="sidebar-opener" (click)="sidebarShow = !sidebarShow">
     <fa-icon [icon]="sidebarIcon"></fa-icon>
</div>
<div class="sidebar-slider" [class.sidebar-slide-in]="sidebarShow">
    <div
        class="sidebar-close"
        (click)="sidebarShow = !sidebarShow"
    >
        X
    </div>
	  <div class="sidebar-content">
        <div class="row">
            <div class="col">
                <mat-list class='sidebarList'>
                    <mat-list-item class='item'> Filter By </mat-list-item>
                    <mat-list-item class='item1' (click)='navigateR()'> categories </mat-list-item>
                    <mat-list-item class='item1'> price </mat-list-item>
                   </mat-list>
                </div>
              </div>
            </div>
</div>
