#all {
    background-image: url(https://i.ytimg.com/vi/4HXqU_jqVJo/maxresdefault.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  .container{
    position: absolute;
    top: 20px;
    width: 1900px;
  }
  
  label{
    color:#87d4df
  }
  
  .text-theme {
    color: #87d4df !important;
  }
  .btn-theme {
    background-color: #87d4df;
    border-color: #87d4df;
    color: rgb(0, 0, 0);
  }